<section class="correctAnswer">
    <div class="container">
        <div class="correctAnswer__pre-title">
            <a href="javascript:void(0)" id="correct">Результат прохождения теста
                <img src="../static/images/small-arrow2.png"
                     alt="small arrow">
            </a>
            <span class="correctAnswer__pre-title-level" id="level">
                Нет доступа к серверу
            </span>
        </div>
        <h1 class="correctAnswer__title">
            <span>Правильные ответы</span>
            к тесту
        </h1>
        <div class="correctAnswer__complete-test" id="complete-test">Тест выполнил
            <span>Роман Чернов, roman@itlogia.ru</span>
        </div>
        <div class="correctAnswer__questions" id="questions">

        </div>
        <div class="correctAnswer__back-result">
            <a href="javascript:void(0)" id="back-result">Обратно к моему результату теста
                <img src="../static/images/small-arrow.png"
                     alt="small arrow">
            </a>
        </div>
    </div>
</section>
