.result {
  padding: 100px 0 80px 0;
  text-align: center;
}
.result .container {
  display: flex;
  align-items: center;
  flex-direction: column;
  position: relative;
}
.result .container .result__question-image {
  position: absolute;
  top: 85px;
  z-index: -1;
}
.result .container .result-title {
  max-width: 588px;
  margin-bottom: 60px;
}
.result .container .result_score {
  background-image: url("../images/result-image.png");
  background-size: cover;
  background-position: center;
  width: 480px;
  height: 388px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Museo Sans Cyrl bold', sans-serif;
  font-size: 158px;
  color: #fff;
}
.correct {
  margin-bottom: 30px;
}
.correct .container .correct-answers {
  display: flex;
  justify-content: flex-end;
}
.correct .container .correct-answers a {
  font-size: 17px;
  color: #6933dc;
  text-decoration: none;
  display: flex;
  align-items: center;
}
.correct .container .correct-answers a:hover {
  text-decoration: underline;
}
.correct .container .correct-answers img {
  margin-left: 13px;
}
