.main {
  padding-top: 190px;
  padding-bottom: 231px;
}
.main .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.main .container .main__content {
  max-width: 588px;
}
.main .container .main__content .main__description {
  margin-top: 40px;
  font-size: 20px;
  max-width: 486px;
}
.main .container .main__content .main__action {
  margin-top: 60px;
}
